body {
  background: #23252C;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #CA3CFF;
}

a:active {
  text-decoration: none;
  color: white;
}

button {
  border: none;
}

button.email-button a {
  color: black;
}

button.linkedin-button a:hover {
  color: white;
}

.rectangle-one {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;
}

.rectangle-two {
position: absolute;
width: 317px;
height: 399px;
left: 116px;
top: 361px;
background: #1A1B21;
}

.maya-jade{
position: absolute;
width: 178.06px;
height: 25.81px;
left: 186px;
top: 382px;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
line-height: 1;
}

/* Frontend Developer */
.frontend {
position: absolute;
width: 178.06px;
height: 14.19px;
left: 186px;
top: 414px;
font-style: normal;
font-weight: normal;
font-size: 12.8px;
line-height: 15px;
text-align: center;
color: #F3BF99;
}

/* Website Link */
.website {
  position: absolute;
  width: 228px;
  height: 16px;
  left: 161px;
  top: 437px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #F5F5F5;
}

/* Button */
/* Auto Layout */
.email-button {
padding: 9px 13px 9px 11px;
position: absolute;
width: 115px;
height: 34px;
left: 151px;
top: 468px;
background: #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}


/* Email Button Icon */
#envelope {
height: 9.600001335144043px;
width: 12.800000190734863px;
left: 1.600006103515625px;
top: 3.20001220703125px;
border-radius: 0px;
margin-right: 3px;
margin-top: 1px;

}


/* Button */
/* Auto Layout */
.linkedin-button {
padding: 9px 13px 9px 11px;
position: absolute;
width: 115px;
height: 34px;
left: 283px;
top: 468px;
background: #5093E2;
/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
color: white;
}

/* LinkedIn button Icon */
#linkedinlogo {
height: 13.333333969116211px;
width: 13.333333969116211px;
left: 1.333343505859375px;
top: 1.333343505859375px;
border-radius: 0px;
margin-right: 3px;
margin-top: 1px;
}

/* About */
.about-title {
position: absolute;
width: 242.71px;
height: 21px;
left: 152px;
top: 535px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #F5F5F5;
}

.about-me {
position: absolute;
width: 247px;
height: 61px;
left: 152px;
top: 561px;
font-style: normal;
font-weight: normal;
font-size: 10.24px;
line-height: 150%;
/* or 15px */
color: #DCDCDC;
}

/* Interests */

.interests-title {
position: absolute;
width: 242.71px;
height: 21px;
left: 152px;
top: 649px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #F5F5F5;
}


/* Interests Paragraph */
.interests-para {
position: absolute;
width: 247px;
height: 61px;
left: 152px;
top: 675px;
font-style: normal;
font-weight: normal;
font-size: 10.24px;
line-height: 150%;
/* or 15px */
color: #DCDCDC;
}

/* Footer */
.social-footer {
position: absolute;
width: 317px;
height: 64px;
left: 116px;
top: 760px;
background: #161619;
border-radius: 0px 0px 10px 10px;
}

/* Footer Styles */
.footer-icons  {
  display: flex;
  justify-content: space-evenly;

}

.footer-icons > img {
  width: 25px;
  height: 25px;
  margin-top: 20px;
}

